/* App.css */
/* Global Styles */
body, html {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

/* Header Styles */
.App-header {
  background-color: #1a1a1a;
  padding: 20px 0;
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 3px solid #3498db; /* This is a more stylish light blue color */
  width: 100%;
}

/* Main Content Styles */
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}



/* Footer Styles */
footer {
  background-color: #1a1a1a;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  main {
    padding: 0 10px;
  }
  main ul {
    grid-template-columns: 1fr;
  }
}
