/* src/styles/App.css */
/* Global Styles */
body, html {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to fill the viewport */
}

/* .App-content holds your main content */
.App-content {
  flex: 1;  /* Take available space */
  display: flex;
  flex-direction: column;
}

/* Header Styles */
.App-header {
  background-color: #1a1a1a;
  padding: 20px 0;
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 3px solid #3498db; /* This is a more stylish light blue color */
  width: 100%;
}



/* Media Query for responsiveness */
@media (max-width: 768px) {
  main {
    padding: 0 10px;
  }
  main ul {
    grid-template-columns: 1fr;
  }
}
