/* Global Styles */
body, html {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Header Styles */
.App-header {
  background-color: #1a1a1a;
  padding: 20px 0;
  border-bottom: 5px solid #ff6347;
  font-size: 2em;
  margin-bottom: 20px;
  width: 100%;
}

.header-content,
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Main Content Styles */
.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.product {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #444;
  border-radius: 4px;
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
}

.product:hover {
  transform: scale(1.02);
  border-color: #ff6347;
  z-index: 1;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}

.product span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2em;
  color: #fff;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #1a1a1a;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .App {
    padding: 0 10px;
  }
  .content-container {
    grid-template-columns: 1fr;
  }
}
