.cart {
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart li {
  display: flex;
  justify-content: space-between; /* Reset back to space-between */
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  width: calc(100% - 120px); /* Deduct the approximate width of the price */
}

.cart img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-info {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow this container to take up remaining space */
}

.cart h2 {
  margin-bottom: 20px;
}

.cart h3, .cart p {
  margin: 0.5em 0;
  font-size: 18px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Move margin here for space between actions and price */
}

.cart-item-actions button {
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #4c6aaf;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-item-actions button:hover {
  background-color: #0a0898;
}

.cart-item-actions span {
  font-size: 24px;
  font-weight: bold;
  width: 60px;
  display: inline-block;
  text-align: center;
}

.cart-item-price {
  width: 150px; /* Set to a value that ensures enough space for your largest expected price */
  text-align: right;
  overflow: hidden; /* Optional: in case content exceeds width */
  white-space: nowrap; /* Prevent wrapping within container */
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.cart-total span:first-child {
  color: #555;
}

/* Responsive Styles */

@media (max-width: 768px) { /* Tablet and below */
  .cart {
    width: 95%;
    padding: 10px;
  }

  .cart img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }

  .cart h3, .cart p {
    font-size: 16px;
  }

  .cart-item-actions button {
    padding: 8px 12px;
    font-size: 18px;
    margin: 0 7px;
  }

  .cart-item-actions span {
    font-size: 20px;
    width: 50px;
  }

  .cart-item-price {
    width: 120px;
  }

  .cart-total {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) { /* Mobile */
  .cart li {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .cart-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .cart-item-info, .cart-item-actions {
    justify-content: center;
    margin-bottom: 10px;
  }

  .cart-item-price {
    width: 100%;
    text-align: center;
  }

  .cart-total {
    padding: 10px 0;
  }
}