/* src/styles/Home.css */
.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/site_pictures/home4.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 20px;
}

.Home-container h1 {
  font-size: 5em;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;

}

.Home-container p {
  font-size: 2em;
  margin-bottom: 40px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.explore-btn {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #4c6aaf;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.explore-btn:hover {
  background-color: #0a0898;
}
