/* MainContent.css */
.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/gym/gym.jpg") no-repeat center
    center/cover;
  color: white;
  text-align: center;
  padding: 20px;
}

.Home-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.Home-container p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.explore-btn {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #2c80c0;
}
