.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-brand {
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.navbar-tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
  position: static;
}

.navbar-tab {
  font-size: 2em;
  margin: 0 15px;
}

.navbar-tab a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar-tab a:hover {
  background-color: rgba(52, 152, 219, 0.5);
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  width: 35px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.hamburger-menu .bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 0.3s;
  left: 0; /* Ensuring it's centered horizontally */
}

.hamburger-menu .bar:nth-child(1) {
  top: 2px; 
}

.hamburger-menu .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-menu .bar:nth-child(3) {
  bottom: 2px; 
}

/* Animation for X formation */
.hamburger-menu.open .bar:nth-child(1) {
  width: 41px;
  transform: translateY(8px) rotate(45deg); 
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
  pointer-events: none;
}

.hamburger-menu.open .bar:nth-child(3) {
  width: 41px;
  transform: translateY(-8px) rotate(-45deg); 
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-tabs {
    left: 0;
    right: 0;
    width: 100%;
    transform: none;
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    /* transition: opacity 0.3s, transform 0.3s; */
  }

  .navbar-tabs.active {
    opacity: 1;
    transform: translateY(0);
  }

  .navbar-tab {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger-menu {
    display: block;
    margin-bottom: 10px;
  }

  .navbar-tabs.active {
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-tab.fade-in {
  animation: fadeIn 0.5s ease forwards;
}
