/* fitness-shop-frontend/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-brand {
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.navbar-tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
  position: static;
}

.navbar-tab {
  font-size: 2em;
  margin: 0 15px;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.navbar-tab a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar-tab a:hover {
  background-color: rgba(52, 152, 219, 0.5);
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  width: 35px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.hamburger-menu .bar {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 0.3s;
  left: 0; /* Ensuring it's centered horizontally */
}

.hamburger-menu .bar:nth-child(1) {
  top: 2px;
}

.hamburger-menu .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-menu .bar:nth-child(3) {
  bottom: 2px;
}

/* Animation for X formation */
.hamburger-menu.open .bar:nth-child(1) {
  width: 41px;
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
  pointer-events: none;
}

.hamburger-menu.open .bar:nth-child(3) {
  width: 41px;
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-tabs {
    left: 0;
    right: 0;
    width: 100%;
    transform: none;
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
  }

  .navbar-tabs.active {
    opacity: 1;
    transform: translateY(0);
  }

  .navbar-tab {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger-menu {
    display: block;
    margin-bottom: 10px;
  }

  .navbar-tabs.active {
    display: flex;
  }
}

.login-btn {
  background-color: #4c6aaf;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0a0898;
}

.cart-count {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: relative;
  top: 10px;
  right: 10px;
}
