/* src/styles/Product.css */

.product {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  /* height: 100%; remove this line */
  position: relative;
  box-sizing: border-box;
  padding: 0 5px 10px 5px; 
  /* border: 1px solid #444;
  border-radius: 2px; */
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust this based on your preferred height */
  overflow: hidden;
}

.product:hover {
  transform: scale(1.02);
  border-color: #3498db; 
  z-index: 1;
}

.product img {
  width: 100%;
  height: auto;  /* Change height to auto */
  object-fit: contain;
  display: block;
  margin: 0;
  border-radius: 4px 4px 0 0; /* added rounded corners to top */
  height: 70%; /* Adjust this percentage as needed */
  margin: auto;
  object-fit: contain;
  display: block;
}

.product span {
  display: block;
  font-size: 1.6em;
  color: #000;
  padding-top: 10px;
  text-align: center;
  background-color: transparent; 
}

.addToCartBtn {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 1em;
  color: #000;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

