.product {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #444;
  border-radius: 4px;
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
}

.product:hover {
  transform: scale(1.02);
  border-color: #3498db; /* Same stylish light blue color for hover effect */
  z-index: 1;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}

.product span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2em;
  color: #fff;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
