/* src/styles/Product.css */

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px 10px 5px;
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
  height: 300px;
  overflow: hidden;
}

.product:hover {
  transform: scale(1.02);
  border-color: var(--cool-gray);
  z-index: 1;
}

.product img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0;
  border-radius: 4px 4px 0 0;
  height: 70%;
  margin: auto;
  object-fit: contain;
  display: block;
}

.product span {
  display: block;
  font-size: 1.6em;
  color: #000;
  padding-top: 10px;
  text-align: center;
  background-color: transparent;
}

.addToCartBtn {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 1em;
  color: #000;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
