/* src/styles/Shop.css */
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 25px;
  padding: 20px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}

.product-link {
  text-decoration: none;
  color: inherit;  /* Keep text color consistent */
}

main ul li {
  border: 1px solid var(--cool-gray-light); /* This will add a light gray border around each item */
  padding: 10px 10px 20px 10px; /* Add some space between the item content and the border */
  border-radius: 5px; /* Optionally, to make the borders slightly rounded */
  transition: border-color 0.3s ease; /* Optional: for a smooth color transition on hover */
}

main ul li:hover {
  border-color: var(--cool-gray-dark); /* Optionally, darken the border on hover */
}

.addToCartBtn {
  /* ... existing styles ... */
  padding: 15px;          /* increase the button's height */
  border-radius: 25px;    /* round the button's edges */
  font-weight: bold;      /* make button text bolder */
  font-size: 1.2em;       /* increase button font size */
  background-color: #4c6aaf;
  color: white;
  border: none;               /* Remove default borders */
  cursor: pointer;           /* Change cursor to hand pointer on hover */
}

.addToCartBtn:hover {
  background-color: #0a0898;
}

/* Adjust media query as necessary */
@media (max-width: 768px) {
  main {
    padding: 0 10px;
  }
  main ul {
    grid-template-columns: 1fr;
  }
}

